.movie-card {
    width: 100px; /* Ajustez la largeur selon vos besoins */
    margin: 10px;
    position: relative; /* Nécessaire pour le positionnement absolu des enfants */
    display: flex;
    flex-direction: column;
}

.movie-poster {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.movie-rating {
    background-color: #2A7B9B;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -15px; /* Ajustez la distance du bas */
    left: 5px; /* Ajustez la distance de la gauche */
    font-weight: 300;
    font-size: 12px;
    border: solid 1.5px #2A7B9B;
}

.movie-title {
    font-size: 13px;
    font-weight: bold;
    padding-top: 1rem;
}

.movie-date {
    font-size: 12px;
    color: gray;
    margin-top: 0.2rem;
}
