:root {
    --color-acting: #246d9e;
    --color-directing: #0c910c;
    --color-writing: #492775;
}


.person-page {
    display: flex;
    flex-direction: row;
    padding: 2rem 12rem;
    gap: 3rem;
    justify-content: center;
}

.person-profile_path img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.person-info { 
    padding-left: 1rem;
    border-left: 1px solid #c2cccd;
}

.person-info-details {
    display: flex;
    flex-direction: row;
    color: #c2cccd;
    gap: 1rem;
    list-style: none;
    font-size: 12px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.person-biography {
    margin-top: 1rem;
    line-height: 1.5;
    padding-top: 2rem;  
}

.person-biography h2 {
    font-size: 20px;
    margin-bottom: 1rem;
}

.person-biography p {
    font-size: 13px;
    padding-right: 5rem;
}

.person-department {
    padding: 0.5rem 1rem;
    border: solid 1px #c2cccd;
    display: inline-block;
    border-radius: 4px;
    font-size: 0.9rem;
    margin: 0.25rem;
}

/* Exemple de styles pour chaque département */
.person-department--Acting {
    background-color: var(--color-acting);
    color: white;
}

.person-department--Directing {
    background-color: var(--color-directing);
      color: white;
}

.person-department--Writing {
    background-color: var(--color-writing);
    color: white;
}

.person-movies {
    margin-top: 2rem;
    padding: 1rem 2rem;
}
.person-movies h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.person-movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.separate-section {
    width: 90%;
    height: 2px;
    background-color: #c2cccd;
    margin: 2rem auto;
}

.section-gallery-images {
    padding: 0 2rem;
}

.section-gallery-images h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.back-link {
    display: inline-flex;
    align-items: start;
    gap: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
    color: #2a7c9b;
    font-weight: 100;
    font-size: 14px;
    transition: color 0.2s;
    padding: 0.3rem 1rem;
   border: 2px solid #2a7c9b;
    border-radius: 20px;
    cursor: pointer;
}

.back-link:hover {
    color: white;
    background-color: #2a7c9b;
    transition: color 0.5s;
    transition: ease-in background-color 0.5s;
}


