footer {    
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(91, 207, 207, 1) 99%);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
}