* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Prend au moins la hauteur de l'écran */
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1; /* Permet à #root de prendre toute la hauteur disponible */
}

/* Style pour le header et le footer */
header, footer {
  flex-shrink: 0; /* Empêche le rétrécissement */
}
